<%= csrf_meta_tags %>
<div class="container-fluid">
  <div class="row content"> 
    <div class="col-sm-4 sidenav">
    </div>
    <div class="col-sm-4 "> 
        <%= form_for [@user, @reminder] do |f| %>
        <div class="form-group">
          <%= f.label :Date %>
          <%= f.text_field :Date, class:"form-control", placeholder: "MM/DD/YYYY", :required => true %>
        </div>  
        
        <div class="form-group">
          <%= f.label :Drug, "Drug" %>
          <%= f.text_field :Drug, class:"form-control", placeholder: "Drug", :required => true %>
        </div>
        
        <div class="form-group">
          <%= f.label :Amount, "Amount" %>
          <%= f.text_field :Amount, class:"form-control", placeholder: "Amount", :required => true %>
        </div>
        
        <div class="form-group">
          <%= f.label :Purpose, "Purpose" %>
          <%= f.text_field :Purpose, class:"form-control", placeholder: "Purpose" %>
        </div>
        
        <div class="form-group">
          <%= f.label :Email, "Email" %>
          <%= f.text_field :Email, class:"form-control",placeholder: "Email", :required => true %>
        </div>
        <div class="form-group">
          <%= f.label :frequency, "Email" %>
          <%= f.text_field :frequency, class:"form-control",placeholder: "Frequency", :required => true %>
        </div>
        
          <%= f.submit "Submit", class: "btn btn-default btn-warning btn-block" %>
        
        <div class="form-group">
          <%end%>
          <br>
          <%= link_to 'Back to Profile', user_path(current_user.id), class:"btn btn-warning btn-block" %>
        </div>
    </div>
</div>
  