<h1>Add Patient</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<div class="container-fluid">
    <div class="row content"> 
        <div class="col-sm-4 sidenav">
        </div>
        <div class="col-sm-4 "> 
        
        <%= form_for(@user) do |f| %>
        <div class="form-group">
            Add patient
        </div>
        
        <div class="form-group">
            <%= f.label :patientlist %>
            <%= f.text_field :patientlist, class:"form-control", placeholder:"Patient ID", required: true%>
        </div>

        
        
        <%= f.submit "Add patient", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
