<div class="row">
  <div class="col-3">
      <h5>
        <br>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <p class="text-center">
          <div class = "btn btn-info"><%= link_to 'New Pill Reminder', new_user_reminder_path(current_user.id) %></div>
        </p>
      </h5>
  </div>
  <div class="col-6">
    <br>
    <h3 class="text-center"> Your Current Pill Reminders</h3>
    <br>
    <table class="table table-bordered table-hover"> 
    <thead>
      <tr>
      <th> Date </th>
      <th> Drug </th>
      <th> Purpose </th>
      <th> Amount </th>
      </tr>
    </thead>
    <tbody>
       <% @reminders.each do |drug| %>
         <% if drug != nil %>
       <tr>
          <td> <%= drug.Date %> </td>
          <td> <%= drug.Drug %> </td>
          <td> <%= drug.Purpose %> </td>
          <td> <%= drug.Amount %> </td>
        </tr>
        <%end%>
        <%end%>
    </tbody>
    </table>
  </div>
  <div class="col-3"></div>
</div>