
<nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(to bottom, #66ccff, #f2f2f2);">
  <a class="navbar-brand" href="/pages/home">
    <%= image_tag("citrus.png", height: "50", width: "50", alt: "Pomelo") %>
    Pill Project
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/pages/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/about">About</a>
      </li>
      <li>
         <a class="nav-link" href="/pages/contact">Contact</a>
      </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
      <div class="nav-item dropdown dropdown-menu-center ">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
        </a>
        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", current_user, class:"dropdown-item"%>
          <div class="dropdown-divider"></div>
          <%= link_to "Log out", logout_path, method: :delete, class:"dropdown-item" %>
        </div>
      </div>
      <% else %>
          <%= link_to "Log in", login_path,{ :class=>"nav-link" }%>
      <% end %>
      </ul>
  </div>
</nav>